//サイトカラー
$orange:#E86B28; //メインオレンジ
$bg_orange:#FFFAEA;//背景オレンジ
$line_orange:#F4D674;//オレンジのライン
$yellow:#EBB708;//サブイエロー
$bg_yellow:#FFE7CB;//背景黄色

//ブレイクポイント
$lg:1200px;
$md:1024px;
$sm:767px;
$xs:575px;